@theme {
  /* Border Radius */
  --radius-border-none: 0px;
  --radius-border-xxs: 2px;
  --radius-border-xs: 4px;
  --radius-border-s: 8px;
  --radius-border-m: 12px;
  --radius-border-l: 20px;
  --radius-border-xl: 30px;
}
