@theme {
  /* Gap & Padding */
  --spacing-none: 0px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 32px;
  --spacing-3xl: 52px;
  --spacing-4xl: 84px;
}
