@theme {
  /* Font Family */
  --font-serif: 'Charmonman', serif;
  --font-sans-serif: 'Raleway', sans-serif;

  /* Font Size */
  --text-h1: 61.04px;
  --text-h2: 48.83px;
  --text-h3: 39.06px;
  --text-h4: 31.25px;
  --text-body: 16px;
  --text-label: 16px;
  --text-caption: 12.8px;
}
