/* Usaremos estos valores para border radius */
@theme {
  --radius-custom-none: 0px;
  --radius-custom-xxs: 2px;
  --radius-custom-xs: 4px;
  --radius-custom-s: 8px;
  --radius-custom-m: 12px;
  --radius-custom-l: 20px;
  --radius-custom-xl: 30px;
}
