@theme {
  /* Typography */
  --font-Serif: 'Charmonman', serif;
  --font-Sans-Serif: 'Raleway', sans-serif;

  /* Font size */
  --text-h1: 61.04px;
  --text-h2: 48.83px;
  --text-h3: 39.06px;
  --text-h4: 31.25px;
  --text-h5: 25px;
  --text-h6: 20px;
  --text-body: 16px;
  --text-small: 12.8px;
  --text-extraSmall: 10.24px;
}