:root {
  --greyscale-0: #ffffff;
  --greyscale-10: #f5f5f4;
  --greyscale-20: #e7e5e4;
  --greyscale-30: #d6d3d1;
  --greyscale-40: #a8a29e;
  --greyscale-50: #78716c;
  --greyscale-60: #57534e;
  --greyscale-70: #44403c;
  --greyscale-80: #292524;
  --greyscale-90: #1c1917;
  --greyscale-100: #0c0a09;
  --greyscale-999: #000000;

  --crimson-10: #ffeaec;
  --crimson-20: #ffbdc3;
  --crimson-30: #ff8f9a;
  --crimson-40: #ff6171;
  --crimson-50: #f73146;
  --crimson-60: #d51f32;
  --crimson-70: #b31021;
  --crimson-80: #910514;
  --crimson-90: #6f000b;
  --crimson-100: #4d0008;

  --lavender: #7c3ead;
  --lime: #22c55e;
  --sunflower: #f59e0b;
}
