@import '../breakpoint.css';
@import '../typography.css';

@utility h1 {
  font-size: var(--text-h2);
  font-weight: bold;
  line-height: normal;

  @variant desktop {
    font-size: var(--text-h1);
  }
}

@utility h2 {
  font-size: var(--text-h3);
  font-weight: bold;
  line-height: normal;

  @variant desktop {
    font-size: var(--text-h2);
  }
}

@utility h3 {
  font-size: var(--text-h4);
  font-weight: bold;
  line-height: normal;

  @variant desktop {
    font-size: var(--text-h3);
  }
}

@utility h4 {
  font-size: var(--text-h5);
  font-weight: bold;
  line-height: normal;

  @variant desktop {
    font-size: var(--text-h4);
  }
}

@utility body-* {
  font-size: var(--text-small);
  font-weight: --value(--font-weight-*);
  line-height: 25px;

  @variant desktop {
    font-size: var(--text-body);
  }
}

@utility label {
  font-size: var(--text-small);
  font-weight: bold;
  line-height: normal;

  @variant desktop {
    font-size: var(--text-body);
  }
}

@utility caption-* {
  font-size: var(--text-extra-small);
  font-weight: --value(--font-weight-*);
  line-height: 20px;

  @variant desktop {
    font-size: var(--text-small);
  }
}
