@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './styles/typography.css';

@theme {
  /* Colours */
  --Main-Black-Base: #171413;
  --Placeholder-Grey: #757575;
  --Main-White: #FFFFFF;
  --Border-Grey: #C5C5C5;
}

body {
  font-family: var(--font-Sans-Serif); 
  color: var(--Main-Black-Base);
  font-weight: 400;
}
@import './styles/colourUsage.css';
@import './styles/radius.css';
@import './styles/spacing.css';
@import './styles/strokeWidth.css';
