@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './styles/typography.css';
@import './styles/colourUsage.css';
@import './styles/radius.css';
@import './styles/spacing.css';
@import './styles/strokeWidth.css';

body {
  font-family: var(--font-Sans-Serif); 
  color: var(--color-text-neutral-primary);
  font-weight: 400;
}

