@import '../utilities/breakpoint.css';
@import '../utilities/colour.css';
@import '../utilities/typography.css';

body {
  font-family: var(--font-sans-serif);
  color: var(--color-text-neutral-primary);
  font-weight: normal;
  font-size: var(--text-small);

  @variant desktop {
    font-size: var(--text-body);
  }
}

input,
textarea {
  outline: none;

  &::placeholder {
    color: var(--color-text-neutral-tertiary);
  }
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  display: none;
}

textarea {
  resize: none;
}
