@import '../utilities/breakpoint.css';
@import '../utilities/colour.css';
@import '../utilities/typography.css';

body {
  font-family: var(--font-sans-serif);
  color: var(--text-color-neutral-primary);
  font-weight: normal;
  font-size: var(--text-caption);

  @variant desktop {
    font-size: var(--text-body);
  }
}

input,
textarea {
  outline: none;

  &::placeholder {
    color: var(--text-color-neutral-tertiary);
  }
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  display: none;
}

textarea {
  resize: none;
}

.select-form {
  appearance: base-select;

  &::picker-icon {
    content: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7 7L13 1' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    width: 14px;
    rotate: 90deg;
    transition: rotate 0.2s;
  }

  &:open::picker-icon {
    rotate: 0deg;
  }
}

::picker(select) {
  appearance: base-select;
  border-radius: var(--radius-lg);
  padding: 12px;
  border: none;
}

.option-form {
  color: var(--color-negro-principal);
  padding: 4px;

  &:hover {
    background-color: var(--background-color-neutral-secondary);
  }

  &:checked {
    font-weight: bold;
    background-color: var(--background-color-brand-secondary);

    &:hover {
      cursor: default;
    }
  }

  &::checkmark {
    display: none;
  }
}
